

h1 {
  font-size: 2em;
  color: #987001;
}

h2 {
  font-size: 1.2em;
  color: #adaaa2;
}

ion-card-header {
  white-space: normal;
  text-align: center;
}

ion-card-content {
  text-align: center;
}

ion-item-divider {
  text-align: center;

  ion-label {
    width: 100%;
  }
}

ion-item-group {
  white-space: normal;
  text-align: center;
  padding-top: 2em;
}


