<ion-content padding>
  <ion-grid>
    <ion-row justify-content-center>
      <ion-col col-md-8>
        <ion-card style="background-color:transparent">
          <ion-card-header style="color:white; text-align: center;">
            <h1 style="color:white; text-align: center"><%= appName %> </h1>
            <p><%= appWelcome %></p>
          </ion-card-header>
          <ion-card-content style="text-align: center">
            <pre>Authentication in progress...</pre>
            <ion-button color="primary" href="tabs">GO</ion-button>
            <!--
                  <form #heroForm="ngForm">
                      <ion-item>
                          <ion-input
                                  id="userLoginEmail"
                                  type="email" placeholder="valid.email@required.com" required
                                  [(ngModel)]="userLoginEmail" name="userLoginEmail"
                                  pattern=".{1,}@[_a-z0-9A-Z]+(\.[a-z0-9A-Z]+)+"></ion-input>
                      </ion-item>
                      <ion-item>
                          <ion-input
                                  id="userLoginPassword"
                                  type="password" placeholder="password"
                                  [(ngModel)]="userLoginPassword" name="userLoginPassword"
                                  required></ion-input>
                      </ion-item>

                      <div style="padding-top:20px">
                          <button ion-button block
                                  id="userLoginButton"
                                  (click)="login(userLoginEmail, userLoginPassword)"
                                  [disabled]="!userLoginEmail || !heroForm.form.valid || !userLoginPassword">
                              Login
                          </button>
                          <br><br>
                          <a ion-button block color="light" clear
                             href="https://fidj.ovh/forgot"
                             target="_blank">
                              Forgot your login/password ?</a>
                          <a ion-button block color="light" clear
                             (click)="loginAsDemo()">
                              Test as a demo user...
                          </a>
                      </div>
                  </form>
              -->
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

  <span style="float:right;font-size:10px;" app-version>version: <%= appVersion %></span>

</ion-content>
