<ion-header>
    <ion-navbar>
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title><%= appName %></ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding>

    <ion-refresher (ionRefresh)="doRefresh($event)">
        <ion-refresher-content></ion-refresher-content>
    </ion-refresher>

    <ion-slides [@cardsState]="(!cardSelected)">
        <ion-slide *ngFor="let card of cards"
                   (click)="cardTapped($event, $index, card)">
            <h1 [ngStyle]="{'font-size.em' : (card.value >= 10) ? 11 : 22}">{{card.value}}</h1>
        </ion-slide>
    </ion-slides>

    <div *ngIf="cardSelected">

        <ion-grid>
            <ion-row justify-content-center>
                <ion-col col-3 style="text-align: center">
                    <button ion-button color="dark" outline (click)="goUp(null)">{{cards[cardSelected - 1].value}}
                    </button>
                </ion-col>
            </ion-row>
        </ion-grid>

        <ion-list>
            <ion-item>
                <ion-input type="text" placeholder="Add a new story" [(ngModel)]="story" name="story"></ion-input>
                <button ion-button clear (click)="add(cardSelected, story); story = null;" item-end icon-only>
                    <ion-icon name="add"></ion-icon>
                </button>
            </ion-item>

            <ion-item-sliding *ngFor="let comment of cards[cardSelected - 1].comments">
                <ion-item>
                    <span style="white-space: normal;">{{comment}}</span>
                </ion-item>
                <ion-item-options side="right">
                    <button ion-button color="danger">
                        <ion-icon name="trash" (click)="remove(cardSelected, $index)"></ion-icon>
                    </button>
                </ion-item-options>
            </ion-item-sliding>
        </ion-list>

    </div>

</ion-content>
