<ion-header>
    <ion-navbar>
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>Agile-Poker</ion-title>
    </ion-navbar>
</ion-header>

<ion-content>
    <p style="text-align:right">

        <a ion-button icon-start round outline color="primary"
           href="https://github.com/ofidj/agile-poker" target="_blank">
            <ion-icon name="logo-github"></ion-icon>
            Contribute<br>@{{appVersion}}
        </a>

    </p>

    <ion-list>
        <ion-list-header>
            Profile
        </ion-list-header>

        <ion-item>
            <ion-avatar item-start>
                <ion-icon name="contact"></ion-icon>
            </ion-avatar>
            <h2>{{profile.getEmail()}}</h2>
            <p *ngFor="let role of profile.getRoles()">{{role}}</p>
        </ion-item>

        <ion-item *ngFor="let endpoint of profile.getEndpoints()"
                  (click)="callEndpoint(endpoint)">
            {{endpoint.key}}
            <ion-icon name="arrow-forward" item-end></ion-icon>
        </ion-item>

    </ion-list>

    <ion-card>
        <ion-card-content>
            {{endpointResult}}
        </ion-card-content>
    </ion-card>

    <p style="text-align:center">
        <button ion-button color="danger" (click)="logout()">logout</button>
    </p>


</ion-content>
